name: Security Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write

jobs:
  security-scan:
    runs-on: ubuntu-latest
    
    if: (github.actor != 'dependabot[bot]') 
    steps:
       - name: Checkout Code
         uses: actions/checkout@v4
       - name: SetUp ReviewDog
         uses: reviewdog/action-setup@v1
       - name: Run Bearer CLI scan
         uses: bearer/bearer-action@v2
         with:
          format: rdjson
          output: rd.json
          diff: true 
       - name: Add findings to PR
         if: always()
         env: 
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         run: cat rd.json | reviewdog -f=rdjson -reporter=github-pr-review