name: Security Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write

jobs:
  security-scan:
    runs-on: ubuntu-latest
    
    if: (github.actor != 'dependabot[bot]') 
    steps:
       - name: Checkout Code
         uses: actions/checkout@v4
       - name: SetUp ReviewDog
         uses: reviewdog/action-setup@v1
       - name: Run Bearer CLI scan
         uses: bearer/bearer-action@v2
         with:
          format: sarif
          output: findings.json
          diff: true 
       - name: Add findings to PR
         if: always()
         env: 
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         run: cat findings.json | reviewdog -f=sarif -reporter=github-pr-review
       - name: Automatic Approval
         if: always()
         uses: actions/github-script@v4
         with:
          script: |
            const result = await github.pulls.createReview({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
                event: "APPROVE"
            });
            console.log(result.status)